.animated-result {
  animation: fadeInUp 0.5s ease;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}


.card_head{
    background: linear-gradient(90deg, #6e8efb, #a777e3);
    padding: 0.75rem 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}